@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conference Manager</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @RenderSection("scripts", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
            <a class="navbar-brand" href="/">ConferenceManager</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="ToggleNavigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" asp-controller="Conference" asp-action="Dashboard">Home</a>
                    <a class="nav-item nav-link" asp-controller="Conference" asp-action="ListConferences">Conferences</a>
                    <a class="nav-item nav-link" asp-controller="Attendee" asp-action="ListAttendees">Attendees</a>
                    <a class="nav-item nav-link" asp-controller="Presentation" asp-action="ListPresentations">Presentations</a>
                    <a class="nav-item nav-link" asp-controller="Venue" asp-action="ListVenues">Venues</a>
                    <a class="nav-item nav-link" asp-controller="Room" asp-action="ListRooms">Rooms</a>
                </div>
                <div class="navbar-nav navbar-right">
                    <vc:login-logout user="@User" />
                </div>
            </nav>
        </nav>
    </header>

    <div class="row">
        <nav class="cols-2"><vc:side-nav /></nav>
        <div class="container col-8">
            <temp-message />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="col-2"></div>
    </div>
    <footer class="border-top footer text-muted row">
        <div class="container">
            <vc:copyright />
        </div>
    </footer>
</body>
</html>
