@model IEnumerable<Attendee>
@{
    ViewBag.Title = "Manage Attendees";
}
<h1>@ViewBag.Title</h1>
<partial name="_AttendeesTable" model="Model" />

<!--<a asp-action="AddAttendee" class="btn btn-secondary mb-3">Add Attendee</a>-->