@model IEnumerable<Venue>
@{
    ViewBag.Title = "Manage Venues";
}
<h1>@ViewBag.Title</h1>

<partial name="_VenuesTable" model="Model" />

<!--<a asp-action="AddVenue" class="btn btn-secondary mb-3">Add Venue</a>-->