@{
    ViewData["Title"] = "Home Page";
}

    <h1>Project Submission 1</h1>
    <p>
        This milestone displays all Conferences, Attendees, Rooms, Venues, and Presentations stored in the database.
    </p>
    <p>
        1.  From the Homepage, click any link in the navigation bar.
    </p>
    <p>
        2.A list of the selected entity will be displayed in table format
    </p>
    <p>
        3.Click the corresponding button to edit or delete an entity
    </p>
    <p>
        4.Click the button below the table to add a new entity.
    </p>
    <p>This page will be updated to a working home page as more functionality is added</p>
