@model Conference

@{
    ViewBag.Title = "Add Conference";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="SaveConference" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate" value="@System.DateTime.Now" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="EndDate">End Date</label>
            <input asp-for="EndDate" value="@System.DateTime.Now" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-secondary">Save</button>
    <a asp-action="ListConferences" class="btn btn-danger">Cancel</a>
</form>