@model IEnumerable<Conference>
@{
    ViewBag.Title = "Manage Conferences";
}
<vc:conference-side-nav/>
<h1 class="text-center">Manage Conferences</h1>

<p>There are @Model.Count() conferences in the database</p>
