@model IEnumerable<Conference>
@{
    ViewBag.Title = "Manage Conferences";
}

<h1 class="text-center">Manage Conferences</h1>
<partial name="_ConferencesTable" model="Model" />
<p>There are @Model.Count() conferences in the database</p>
