@model IEnumerable<Conference>
@{
    ViewBag.Title = "Manage Conferences";
}
<h1 class="text-center">Manage Conferences</h1>
<vc:conference-table/>
<p>There are @Model.Count() conferences in the database</p>
