@model IEnumerable<Conference>
@{
    ViewBag.Title = "Manage Conferences";
}
<h1>@ViewBag.Title</h1>
<partial name="_ConferencesTable" model="Model" />
<!--<a asp-action="AddConference" class="btn btn-secondary mb-3">Add Conference</a>-->