@model ConferenceViewModel
@{
    ViewBag.Title = "View Details";
}

<h1 class="text-center">@Model.Conference.Name</h1>
<h3>Manage venues</h3>
<partial name="/Views/Venue/_VenuesTable.cshtml" model="Model.Venues" />

<h3>Manage Attendees</h3>
<partial name="/Views/Attendee/_AttendeesTable.cshtml" model="Model.Attendees" />