@model IEnumerable<Presentation>
@{
    ViewBag.Title = "Manage Presentations";
}
<h1>@ViewBag.Title</h1>
<partial name="/Views/Presentation/_PresentationsTable.cshtml" model="Model" />
<!--<a asp-action="AddPresentation" class="btn btn-secondary mb-3">Add Presentation</a>-->
