@model Room
@{
    ViewBag.Title = "Delete Conference";
}

<h1>@ViewBag.Title</h1>
<div class="jumbotron alert-danger mt-4">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to remove @Model.Name from the database?</p>
    <form asp-action="DeleteRoom" method="post">
        <input type="hidden" asp-for="RoomID" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="ListRooms" class="btn btn-primary">Cancel</a>
    </form>
</div>
