@model Attendee
@{
    ViewBag.Title = "Delete Attendee";
}

<h1>@ViewBag.Title</h1>
<div class="jumbotron alert-danger mt-4">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to remove @Model.FullName from the database?</p>
    <form asp-action="DeleteAttendee" method="post">
        <input type="hidden" asp-for="AttendeeID" />

        <button type="submit" class="btn btn-secondary">Delete</button>
        <a asp-action="ListConferences" class="btn btn-danger">Cancel</a>
    </form>
</div>
