@model IEnumerable<Room>
@{
    ViewBag.Title = "Manage Rooms";
}
<h1>@ViewBag.Title</h1>

<partial name="_RoomsTable" model="Model" />

<!--<a asp-action="AddRoom" class="btn btn-secondary mb-3">Add Room</a>-->