<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" asp-controller="Conference" asp-action="AddConference">Add Conference</a>
        <a class="list-group-item list-group-item-action bg-light" asp-controller="Venue" asp-action="AddVenue">Add Venue</a>
        <a class="list-group-item list-group-item-action bg-light" asp-controller="Presentation" asp-action="AddPresentation">Add Presentation</a>
        <a class="list-group-item list-group-item-action bg-light" asp-controller="Attendee" asp-action="AddAttendee">Add Attendee</a>
    </div>
</div>
